*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
      background-color: #FD6E0A;  
      font-weight: bold;
      font-size: 20px;
      color: white;
      padding: 20px 35px;
      border-radius: 5px;
      border: none;
}
.contact-btn{
    background-color: white;  
      font-weight: bold;
      font-size: 20px;
      color: #FD6E0A;
      margin-left: 10px;
      padding: 18px 30px;
      border-radius: 5px;
     border: 2px solid #FD6E0A;
}
.section-titel{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-top: 30px;
}
.section-description{
    font-size: 18px;
    color: #757575;
    padding: 50px;
}
.text-center{
    text-align: center;
}

/* haeder style */
.header{
    background-image: url(../image/developer.png), url(../image/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 40px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
    margin: 230px 297px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.banner-titel{
    font-weight: bold;
    font-size: 85px;
}
.banner-text{
    font-size: 18px;
    color: #757575;
    margin: 2px 0 50px 0;
}
.banner-profile-pic{
    width: 580px;
    
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about */
.about{
    border-radius: 10px;
    padding: 100px 100px;
    text-align: center;
    /* margin-top: 130px; */
}
.about-items{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.item-description{
    font-weight: 600;
    font-size: 20px;
}

/* skills section */
.skills-container{
    display: flex;
    gap: 24px;

}

.skill{
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title{
    margin: 30px 0 30px 0;
}

/* resume section styles */
.resume-container{
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-top:15px;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin-top: 50px;
}
.resum-column-title{
    font-size: 28px;
    margin-top: 20px;
}
.experience-title{
    font-size: 20px;
    margin-top: 15px;
}

/* ----Footer Style----- */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
form{
    margin-top: 18px;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 20px;
}
